body:has(.dark) {
    background-color: #414141;
}

.dark * {
    background: #414141 !important;
    color: #ffffff !important;
}

.dark input,
.dark textarea {
    background-color: #cccccc !important;
}

.dark button {
    background-color: #2DCEA2 !important;
}

.dark .material-symbols-outlined {
    background-color: transparent !important;
}